{% extends "base.html.twig" %}
{% block body %}

    <div class="my-3 p-3 bg-white rounded shadow">
        {% for message in app.flashes('notice')%}
            <div class="alert-success">
                {{message}}
            </div>
        {% endfor %}
        {% for post in posts %}
            <a href="{{path('micro_post_post',{'id':post.id})}}">
                <div class="media text-muted pt-3">
                    {% set intials= post.user.fullname|split(' ')%}
                    <img alt="" class="mr-2 rounded" data-src="holder.js/32x32?text={{intials[0]|first}}{{intials[1]|first}}&bg=e83e8c&fg&size=8">
                    <p class="media-body pb-3 mb-0 small lh-125 ">
                        <span class="d-block">
                            <strong class="text-grey-dark">@{{post.user.username}}</strong>
                            <small>{{post.time|date("d/m/Y")}}</small>

                        </span>
                        {{post.text}}
                    </p>
                </div>
            </a>
            <small class="d-block text-right mt-3">
                <a href="{{path('micro_post_edit',{'id':post.id})}}">Edit</a>
                <a href="{{path('micro_post_delete',{'id':post.id})}}">Delete</a>
            </small>
            <div class="border-bottom border-grey"></div>
        {% endfor %}
    </div>
    .
{% endblock %}
